.mainSection {
  width: 100%;
  padding-left: 60px;
  height: 100vh;
  background-image: url("../../images/red-car.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainParagraphs {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 19px;
}

.mainDescriptions {
  font-size: 24px;
  line-height: 30px;
  font-weight: 200;
  margin-bottom: 60px;
}
