.weAre {
  width: 80%;
  margin: 0 auto;
  margin-top: 196px;
}

.weAreText {
  font-size: 36px;
  font-weight: 700;
}

.weAreWrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 120px;
  margin-bottom: 190px;
}

.weAreWrapperPerson {
  width: 310px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.weAreImg {
  background-image: url("../../images/img1.png");
  height: 225px;
  width: 225px;
}

.weAreImg2 {
  background-image: url("../../images/img2.png");
  height: 225px;
  width: 225px;
}

.weAreDescription {
  font-weight: 700;
}
