.footerBlog {
  height: 258px;
  width: 280px;
  background-color: #4eadff;
  border-radius: 10px;
  color: white;
  text-align: left;
  padding: 40px 50px;
}

.footerBlogH4 {
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
}
.footerBlogText {
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
}

.footerBlogButton {
  border: none;
  background-color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 40px;
}
